        </div> <!-- .content-wrapper -->
    </main> <!-- .cd-main-content -->
    <!-- javascripts -->
    <script src="/js/jquery-2.1.4.js"></script>
    <script src="/js/jquery.menu-aim.js"></script>
    <script src="/js/jquery.scrollTo.min.js"></script>
    
    <!--custom script for all page-->
    <script src="/js/main.js"></script> <!-- Resource jQuery -->
    <script src="/js/highlight.pack.js"></script>
    <script>hljs.initHighlightingOnLoad();</script>
    <script src="/js/scripts.js"></script>
    <script async defer id="github-bjs" src="/js/buttons.js"></script>
    

    {{ template "partials/analytics.html" . }}

</body>
</html>
